{{> head}}

Merchants API <br />
------------- <br /><br />

index	: <a href='/merchants'>/merchants</a>								<br />
show	: <a href='/merchants/1'>/merchants/1</a>						<br />
new		: <a href='/merchants/new'>/merchants/new</a>				<br />
edit  : <a href='/merchants/1/edit'>/merchants/1/edit</a>	<br />

<br />
<br />

Transaction / Stripe API <br />
------------- <br /><br />

index	: <a href='/transactions'>/transactions</a>								<br />
show	: <a href='/transactions/1'>/transactions/1</a>						<br />
new		: <a href='/transactions/new'>/transactions/new</a>				<br />

{{> footer}}