include ../template/head

h4 Merchants API
	:markdown
		index: 		[/merchants](/merchants)  
		show: 		[/merchants/1](/merchants/1)  
		new: 			[/merchants/new](/merchants/new)  
		edit: 		[/merchants/1/edit](/merchants/1/edit)	

h4 Stripe API
	:markdown
		index: 		[/transactions](/transactions)  
		show:			[/transactions/1](/transactions/1)  
		new:			[/transactions/new](/transactions/new)  
		reports: 	[/reports/merchants-by-volume](/reports/merchants-by-volume)

h4 Twitter
	:markdown
		index: 		[/twitter](/twitter)

h4 Twilio
	:markdown
		index:		[/twilio](/twilio)

h4 Github Repo
	:markdown
		txn: 			[https://github.com/skilbjo/txn](https://github.com/skilbjo/txn)

include ../template/footer