<!doctype html>
<html>
<head>
	<title>Merchant Profitability</title>
<!-- <link rel="stylesheet" href="/public/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="/public/css/font-awesome.min.css"> -->
<!-- // <script src="/public/javascript/sorttable.js"></script> -->
<!-- 	// <script src="/public/javascript/jquery.js"></script>  -->
<!-- 	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<style>
			/* Sortable tables */
		table.sortable thead {
		    background-color:#eee;
		    color:#666666;
		    font-weight: bold;
		    cursor: default;
		}
	</style> -->
</head>
<body>