{{> head}}

Twitter <br />
------------- <br />
<form action='/twitter/user' method='post'>
search user	: <input name='user' value='@skilbjo' autofocus>	<br /> <input type='submit' value='submit'>
</form>

<form action='/twitter/topic' method='post'>
search topic	: <input name='topic' value='ukraine'>	<br /> <input type='submit' value='submit'>
</form>

<form action='/twitter/stream' method='post'>
search stream	: <input name='stream' value='#apple'>	<br /> <input type='submit' value='submit'>
</form>



{{> footer}}